################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PiyushCLI/v16
/.vs/PiyushCLI/DesignTimeBuild
